{% extends "EmailTemplate.twig" %}
{% block content %}
<h1>Build Report</h1>
<div>Date: {{ "now"|date("Y/m/d") }}</div>
<br />
<table class="price-list" cellpadding="0" cellspacing="0" border="0" align="left">
    <tr style="font-weight: bold;">
        <td align="left" style="padding-left: 0px;">Build Total</td>
        <td align="left">{{ newBuildReport.price|number_format(2, ',', '') }}€</td>
        <td align="left">{{ newBuildReport.date|date("Y/m/d") }}</td>
    </tr>
    <td align="left" style="padding-left: 0px;">Last Build Price</td>
    <td align="left">{{ lastBuildReport.price|number_format(2, ',', '') }}€</td>
    <td align="left">{{ lastBuildReport.date|date("Y/m/d") }}</td>
    </tr>
    <tr>
        <td align="left" style="padding-left: 0px;">Highest Build Price</td>
        <td align="left">{{ stats.highestPrice|number_format(2, ',', '') }}€</td>
        <td align="left">{{ stats.highestPriceDate|date("Y/m/d") }}</td>
    </tr>
    <tr>
        <td align="left" style="padding-left: 0px;">Lowest Build Price</td>
        <td align="left">{{ stats.lowestPrice|number_format(2, ',', '') }}€</td>
        <td align="left">{{ stats.lowestPriceDate|date("Y/m/d") }}</td>
    </tr>
    <tr>
        <td align="left" style="padding-left: 0px;">Average Build Price</td>
        <td align="left">{{ stats.averagePrice|number_format(2, ',', '') }}€</td>
        <td align="left">&nbsp;</td>
    </tr>
</table>
<br />
<br />
{% for product in newBuildReport.products %}
    {{ include('EmailProductListItem.twig') }}
{% endfor %}
{% endblock %}