{% extends "SiteTemplate.twig" %}

{% block title %}Components Lists{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>PC Build <small>Component List</small></h1>
    </div>

    {% if productsByCatName|length > 0  %}
        <div>

            <ul class="nav nav-tabs" role="tablist">
                {% for catName in productsByCatName|keys %}
                    <li role="presentation" class="{{ (catName == 'CPU') ? 'active' : '' }}"><a href="#{{ catName }}" role="tab" data-toggle="tab">{{ catName }}</a></li>
                {% endfor %}
                {% if buildProducts|length > 0 %}
                    <li role="presentation"><a href="#Build" role="tab" data-toggle="tab">My Build</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
                {% for catName in productsByCatName|keys %}
                    <div role="tabpanel" class="tab-pane {{ (catName == 'CPU') ? 'active' : '' }}" id="{{ catName }}">
                        <table class="table table-striped component-table">
                            <thead>
                                <tr>
                                    <th class="col-image">Image</th>
                                    <th class="col-name">Name</th>
                                    <th class="col-prices">Prices</th>
                                </tr>
                            </thead>
                            {% for product in productsByCatName[catName] %}
                                {% if product.visible == true %}
                                    {{ include('ComponentListItem.twig') }}
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}

                {% if buildProducts|length > 0 %}

                    <div role="tabpanel" class="tab-pane" id="Build">

                        <div class="panel panel-default total-panel">
                            <div class="panel-body">
                                <span>Total: </span>
                                <span>{{ total|number_format(2, ',', '') }}€</span>
                            </div>
                        </div>

                        <table class="table table-striped component-table">
                            <thead>
                            <tr>
                                <th class="col-image">Image</th>
                                <th class="col-name">Name</th>
                                <th class="col-prices">Prices</th>
                            </tr>
                            </thead>
                            {% for product in buildProducts %}

                                {% if product.visible == true %}
                                    {{ include('ComponentListItem.twig') }}
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            </div>

        </div>

    {% else %}

        <p>The components list is empty.</p>

    {% endif %}

{% endblock %}