<tbody>
<tr class="{{ (product.buildReport == true) ? 'success' : '' }}">
    <td  class="col-image">
        <img src="{{ product.imageUrl }}" alt="{{ product.name }}"/>
    </td>
    <td class="col-name">
        <a href="{{ product.url }}" target="_black">{{ product.name }}</a>
    </td>
    <td class="col-prices">

        <table class="price-table">
            <tr>
                <td><strong>Last:</strong></td>
                <td>{{ product.lastPriceDate|date("Y/m/d") }}</td>
                <td class="col-store">{{ product.lastPriceStore }}</td>
                <td>{{ product.lastPrice|number_format(2, ',', '') }}€</td>
            </tr>
            <tr>
                <td><strong>Highest:</strong></td>
                <td>{{ product.highestPriceDate|date("Y/m/d") }}</td>
                <td class="col-store">{{ product.highestPriceStore }}</td>
                <td>{{ product.highestPrice|number_format(2, ',', '') }}€</td>
            </tr>
            <tr>
                <td><strong>Lowest:</strong></td>
                <td>{{ product.lowestPriceDate|date("Y/m/d") }}</td>
                <td class="col-store">{{ product.lowestPriceStore }}</td>
                <td>{{ product.lowestPrice|number_format(2, ',', '') }}€</td>
            </tr>
            <tr>
                <td><strong>Initial:</strong></td>
                <td>{{ product.initialPriceDate|date("Y/m/d") }}</td>
                <td class="col-store">{{ product.initialPriceStore }}</td>
                <td>{{ product.initialPrice|number_format(2, ',', '') }}€</td>
            </tr>
            <tr>
                <td><strong>Average:</strong></td>
                <td>&nbsp;</td>
                <td class="col-store">&nbsp;</td>
                <td>{{ product.averagePrice|number_format(2, ',', '') }}€</td>
            </tr>
        </table>

    </td>
</tr>
</tbody>